*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
   
    height: 100vh;
    margin: 0;
    margin-left: 5px;
}

.quiz-container {
    background-color: white;
 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width:100vw;
    text-align: center;
}

/* nav started here */
.nav{
    height:60px;
    background-color: rgb(0, 27, 84);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-li{
    
    display: flex;
    flex-direction: row;
}
.nav-li li{
    padding: 12px;
    background-color: rgb(0, 27, 84);
    list-style-type: none;
}
.nav-li li a{
    text-decoration: none;
    color: white;
    padding: 15px;
 
}
.nav-li li a:hover{
    background-color: white;
   color: black;
   border-radius: 10px;
}


/* nav ended here */







button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

#results {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
