*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 95vw;
    height: 100vh;
   
}

/* nav */
.nav{
    width: 100vw;
    text-align: center;
    display: flex;
    height:60px;
    background-color: rgb(0, 27, 84);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
#btn1{
    padding:7px 10px;
    background-color: green;
    color: white;
    font-size: larger;
    border: none;
    border-radius: 8px;
}
#btn1:active{
    cursor: pointer;
  
    background-color: red;
    color: black;
}
#btn1:hover{
    background-color: rgb(7, 72, 7);
    color: white;
}
#home-tag a{
    color: white;
    text-decoration: none;
}
/* nav */




/* mid part is Started here */
.mid-sec{
    width: 100vw;
    display: flex;
    background-color: rgb(63, 63, 206);
}
.mid-p1{
    width:25vw;
    height: 100vh;
   
    padding-right: ;
}
.mid-p2{
    width: 70vw;
    height: 100vh;
   
}
/* mid part is Ended here */